@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .projectSection{
        @apply mb-10 w-full relative m-0 flex flex-col lg:block lg:h-full lg:w-1/2 lg:fixed lg:left-1/2;
    }
    .projectContainer{
        @apply w-full lg:max-h-screen pt-7 relative overflow-y-hidden lg:overflow-y-auto lg:h-full lg:absolute lg:top-0 flex pl-10 lg:block lg:ml-0;
    }
    
    .projectElem{
        @apply transition ease-in-out duration-300 w-3/4 h-full mr-[20%] lg:mr-0 lg:h-full lg:absolute lg:w-full flex justify-center items-center;
    }
    .projectFig{
        @apply max-w-[400px] max-h-full mb-5;
    }
    .projectFig img{
        @apply rounded-3xl drop-shadow-lg w-[75vw] max-w-[400px] h-auto max-h-[300px] lg:h-[300px] lg:w-[400px] object-cover aspect-[4/3];
    }
    .projectFig figcaption{
        @apply mt-4 lg:mt-8 text-3xl font-light;
    }

    // .projectFig img{
    //     @apply rounded-3xl drop-shadow-lg h-[10%] max-h-[300px] lg:max-w-[60vw] w-full; max-w-[60vw]
    // }

    .btn{
        @apply bg-[#C5CDD4] pl-4 pr-4  rounded-3xl p-2 inline-block transition-all transform hover:scale-110;
    }
    .btn-alignLeft{
        @apply mr-4 mt-4;
    }

    .clip-circle {
        clip-path: circle(50%);
    }

    @media (max-height:1000px) and (min-width:650px) and (max-width:1000px) {
        .headersResponsive{
            @apply h-[420px];
        }
        .headersResponsive > div{
            @apply flex items-start;
        }
        .headersResponsive > div img{
            @apply mr-[20px];
        }
    }
}

.animateShake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {

    20%{
        transform: scale(1.1) rotate(-5deg) translateX(-5px);
    }

    40%{
        transform: rotate(5deg) translateX(5px);
    }

    60%{
        transform: rotate(-5deg) translateX(-5px);
    }

    80%{
        transform: rotate(5deg) translateX(5px);
    }

}

// GENERATE CUSTOM CLASSES
$left: 15;
$top: 15;
// custom left
@for $i from 1 through $left {
    $value: 75 * $i;
    .cl-#{$i} { 
        left: $value + 0%;
    }
}
@media (min-width: 1024px) {
    // custom left
    @for $i from 1 through $left {
        .cl-#{$i} {
            left: 0;
        }
    }
    // custom top lg
    @for $i from 1 through $top {
        $value: 100 * $i;
        .lgct-#{$value} {
            top: $value + 0%;
        }
    }
}